absl-py
annotated-types
anyio
asttokens
astunparse
beautifulsoup4
certifi
cffi
charset-normalizer
cmdstanpy
colorama
comm
contourpy
curl-cffi
cycler
debugpy
decorator
et-xmlfile
executing
flatbuffers
fonttools
frozendict
gast
google-pasta
greenlet
grpcio
h11
h5py
holidays
httpcore
httpx
idna
importlib-resources
ipykernel
ipython
ipython-pygments-lexers
jedi
joblib
jsonpatch
jsonpointer
jupyter-client
jupyter-core
keras
kiwisolver
langchain
langchain-core
langchain-ollama
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
libclang
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
multitasking
namex
nest-asyncio
numpy
ollama
openpyxl
opt-einsum
optree
orjson
ormsgpack
packaging
pandas
parso
patsy
peewee
pillow
pip
platformdirs
pmdarima
prompt-toolkit
prophet
protobuf
psutil
pure-eval
pycparser
pydantic
pydantic-core
pygments
pyparsing
python-dateutil
pytz
pywin32
pyyaml
pyzmq
requests
requests-toolbelt
rich
scikit-learn
scipy
seaborn
six
sniffio
 soupsieve
sqlalchemy
stack-data
stanio
statsmodels
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
tornado
tqdm
traitlets
typing-extensions
typing-inspection
tzdata
urllib3
wcwidth
websockets
werkzeug
wheel
wrapt
xxhash
yfinance
zstandard